#head{
     margin-top: 60px;
     font-size: larger;
     background-color: rgb(11, 11, 52,0.88);
     width: 100%;
     margin-right: -30px;
     margin-left: -50px;
     padding: 18px;
     height: 60%;
    
}
#logo{
    padding:65px;
    margin-left: -69px;
    margin-top: -20px;
    
   
    
}

.Head{
    display:flex;
    justify-content: space-around;
    
     
}

.head{
    margin-right: 12px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

#bg-image{
    background-image: url('/Images/Course-1-600x358.png');
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 500px;
    margin-left: -70px;
    margin-top: -55px;

}

#home{
    background-color:aliceblue;
    border-bottom: 5px solid gainsboro;
    padding: 5px;
    margin-bottom: 10px;
 }

.cat-0{
background-color:antiquewhite;
font-weight:bold ;
font-size:xx-large;
padding: 1px;
margin-left: -8px;
margin-bottom: 20px;
border-bottom: 15px solid rgb(200, 221, 239);
margin-right: -30px;
text-align: center;
}

#cat{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: larger;
}

.cat-1{
    border-bottom: 1px solid gray;
    padding: 10px;
}

.cat{
    padding: 30px;
    background-color: #fff;
    margin-top: -55px;

}
 .cat2{
    margin-left: 285px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding:10px ;
 }

 #cat3{
    margin-left: 415px;
    background-color: aliceblue;
    margin-top: 80px;
    padding: 10px;
    height: 700px;
    width: 800px;
 }

 .cat-2{
    margin-left:380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    font-size: large;
 }

 .cat-3{
    font-size: larger;
    font-weight: bolder;
 }

 #cat-3{
    margin-top:100px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    font-size: large;
 }

 #cat4{
    margin-left: 415px;
    background-color:antiquewhite;
    margin-top: 180px;
    padding: 10px;
    height: 600px;
    width: 800px;
 }

 #cat-img{
    background-image: url('/Images/g4.jpg');
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 300px;
    margin-top: -300px;
    margin-left: -100px;
   
 }

 #cat-image{
    background-image: url('/Images/about-img2.jpeg');
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 300px;
    margin-top: -430px;
    margin-left: -100px;
   
 }

 .under:active{
    color:rgba(38, 38, 171);
 }

 .under:link{
    color:rgb(26, 26, 212);
 }
 .under:hover{
    background-color: rgb(200, 221, 239);
    color: rgb(11, 11, 52,0.88) ;
 }


 .box {
   width: 360px; 
   height: 400px; 
   border-top: 2px solid #000;
   border-right: 2px solid #000; 
   margin-top: -13px;
}

.up{
   font-size: 30px;
   font-weight: bolder;
   margin-top: 25%;
   
}

.day{
   font-weight: bolder;
   color: rgb(247, 199, 136);
   font-size: 60px;
   margin-top: 10px;
}

.month{
   font-weight: bolder;
   margin-left: 5px;
}

.down{
   margin-top: -125px;
   margin-left: 80px;
   padding: 5px;
}